<div class="vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <a (click)="returnToHome" class="mb-5 sky-blue-darker-text titulo-3 btn_back"><i class="fa-solid fa-arrow-left"></i> Regresar a Inicio</a>
    </div>

    <div class="row h-681px">

      <div class="col-sm-12 col-xl-6 d-flex align-items-center br-left-20px br-max-w-xl-20px justify-content-center justify-content-xl-start">
        <div class="box-width-20">
          <h1 class="mb-4 titulo-1 titulo-1">Bienvenido</h1>
          <div class="d-flex flex-column">
            <div class="box-width-20">

              <form class="example-form" [formGroup]="loginForm">

                <mat-form-field appearance="outline" class="example-full-width">

                  <mat-label>Email</mat-label>
                  <input type="email" matInput formControlName="email" placeholder="jon@email.com">
                  <mat-error *ngIf="myError('email','required')">
                    Correo electrónico es  <strong>requerido</strong>
                  </mat-error>

                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width pt-3">

                  <mat-label>Contraseña</mat-label>
                  <input type="password" matInput formControlName="password" placeholder="*********">
                  <mat-error *ngIf="myError('password','required')">
                    La contraseña es <strong>requerida</strong>
                  </mat-error>


                </mat-form-field>


                <button mat-raised-button class="btn_login mt-3 sky-blue-darker-bg white-text">
                  <mat-icon iconPositionEnd>chevron_right</mat-icon>
                  INICIAR SESIÓN

                </button>

                <div class="pt-4">
                  <a class="anchore-1 text-decoration-none sky-blue-darker-text cursor-pointer">
                    Recuperar contraseña
                  </a>
                </div>
              </form>




            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-xl-6 bg-white-gray br-right-20px br-max-w-xl-20px">
        <div class="d-flex-center h-100">
          <img class="img-fluid logo" src="/assets//logos/ZhenAir.png" />
        </div>
      </div>

    </div>
  </div>
</div>