.login-form {
  min-width: 400px;
  max-width: 450px;
  width: 100%;
}

.field-full-width {
  width: 100%;
}

.btn_login{
  min-width: 400px;
  max-width: 450px;
  width: 100%;
  padding: 25px;
}

.btn_back{
    text-decoration: none;
    cursor: pointer;
}

