<h1 class="titulo-2 container text-center pt-3">
  {{ editing ? 'Editar dispositivo' : 'Registrar dispositivo' }}
</h1>
<div class="container white-bg pb-5 d-flex justify-content-center">

  <form class="d-flex flex-column w-75" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput placeholder="ID del Dispositivo">
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-full-width">
      <mat-label>Modelo</mat-label>
      <input type="text" matInput formControlName="model" placeholder="Ingrese el nombre del modelo">
      <mat-error *ngIf="model?.errors?.['required']">
        Modelo es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="model?.errors?.['maxlength']">
        Modelo debe tener <strong>máximo 30 caracteres</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Fecha de Instalación" formControlName="date" [matDatepicker]="myDatepicker">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="pt-3">
      <mat-label>Sala</mat-label>
      <mat-select formControlName="room">
        <mat-option *ngFor="let room of roomOptions" [value]="room.value">
          {{room.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="error('room','required')">
        La sala es <strong>requerida</strong>
      </mat-error>
    </mat-form-field>
    <div class="d-flex justify-content-between">
      <button type="button" mat-raised-button color="warn" class="btn_login mt-3" (click)="closeDialog()">
        <mat-icon iconPositionEnd>close</mat-icon>
        CANCELAR
      </button>
      <button mat-raised-button type="submit" class="btn_login mt-3 sky-blue-darker-bg white-text">
        <mat-icon iconPositionEnd>chevron_right</mat-icon>
        CONFIRMAR
    </button>
    </div>


  </form>
</div>