
///Font Colors

.white-text {
  color: #fff !important;
}
.white-dark-text {
  color: #F2E7DC;
}
.sky-blue-light-text {
  color: #C9DFF2;
}
.sky-blue-text {
  color: #79C4F2;
}
.sky-blue-dark-text {
  color: #05c7f2;
}
.sky-blue-darker-text {
  color: #049DD9;
}
.blue-text {
  color: #042959;
}
.black-text {
  color: #000 ;
}

///Background Colors
.white-bg {
  background-color: #fff;
}
.white-dark-bg {
  background-color: #F2E7DC;
}
.sky-blue-light-bg {
  background-color: #C9DFF2 !important;
}
.sky-blue-bg {
  background-color: #79C4F2;
}
.sky-blue-dark-bg {
  background-color: #05c7f2;
}
.sky-blue-darker-bg {
  background-color: #049DD9 !important;
}
.blue-bg {
  background-color: #042959;
}
.black-bg {
  background-color: #000;
}
.bg-white-gray {
  background-color: $white-gray;
}
