.white-text {
  color: $white !important;
}
.white-dark-text {
  color: $white-dark;
}
.sky-blue-light-text {
  color: $sky-blue-light;
}
.sky-blue-text {
  color: $sky-blue;
}
.sky-blue-dark-text {
  color: $sky-blue-dark;
}
.sky-blue-darker-text {
  color: $sky-blue-darker;
}
.blue-text {
  color: $blue;
}
.black-text {
  color: $black;
}

///Background Colors
.white-bg {
  background-color: $white ;
}
.white-dark-bg {
  background-color: $white-dark;
}
.sky-blue-light-bg {
  background-color: $sky-blue-light!important;
}
.sky-blue-bg {
  background-color: $sky-blue;
}
.sky-blue-dark-bg {
  background-color: $sky-blue-dark;
}
.sky-blue-darker-bg {
  background-color: $sky-blue-darker!important;
}
.blue-bg {
  background-color: $blue !important;
}
.black-bg {
  background-color: $black;
}
.bg-white-gray {
  background-color: $white-gray;
}
