.titulo-1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0.15px;
  }
  
  .titulo-2 {
    font-size: 0rem;
    font-weight: 0;
    line-height: 0;
    letter-spacing: 0.15px;
  }
  
  .titulo-3 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0.15px;
  }
  
  .titulo-4 {
    font-size: 0rem;
    font-weight: 0;
    line-height: 0rem;
    letter-spacing: 0.15px;
  }
  
  .titulo-5 {
    font-size: 0rem;
    font-weight: 0;
    line-height: 0rem;
    letter-spacing: 0.15px;
  }
  
  .titulo-6 {
    font-size: 0rem;
    font-weight: 0;
    line-height: 0rem;
    letter-spacing: 0.15px;
  }
  
  .anchore-1 {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.625rem; /* 26px */
  }
  
  .anchore-volver {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem; /* 26px */
  }