<div class="footer bg-almate-black-alpha">
    <div class="sb__footer section__padding">
        <div class="sb__footer-links">
            <div class="sb__footer-links_div">
                <h4>Acerca de ZhenAir</h4>

                <p>
                    En ZHENAIR, creemos en el bienestar colectivo y en la importancia de un aire puro para todos. Nos
                    dedicamos a desarrollar soluciones innovadoras  y mejorar la calidad de vida.
                    Nuestro objetivo es crear entornos más saludables y sostenibles para las generaciones venideras.
                </p>
            </div>

            <div class="sb__footer-links_div">
                Contacto

                <p>
                    <i class="fa-solid fa-phone"></i>
                    +506 7296 5343
                </p>

                <p>
                    <i class="fa-brands fa-whatsapp fa-lg social-icon-whatsapp"></i>
                    +506 7296 5343
                </p>

                <p>
                    <i class="fa-regular fa-envelope fa-lg"></i>
                    sales@zhenair.com
                </p>
            </div>

            <div class="sb__footer-links_div">
                <h4> Siguenos </h4>
                <div class="socialmedia pt-3">
                    <i class="fa-brands fa-tiktok social-icon-tiktok fa-xl mx-2"></i>
                    <i class="fa-brands fa-instagram mx-2 fa-xl social-icon-instagram"></i>
                    <i class="fa-brands fa-facebook mx-2 fa-xl social-icon-facebook"></i>
                </div>
            </div>
        </div>
        <hr />
        <div class="sb__footer-below">
            <div class="sb__footer-copyright">
                <p>
                    Todos los derechos reservados &copy; {{ annoActual }} ZhenAir
                </p>
            </div>
            <div class="sb__footer-below-links">
                <div>
                    <p class="footer_link" (click)="goToLandingPage()" >
                        Desarrollado por ADAKA SOFTWARE
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>