<h1 mat-dialog-title >Tu apoyo nos ayudará a seguir trabajando en soluciones innovadoras para el sector médico.</h1>
<div mat-dialog-content>
    <h1 class="tituto-1">$50</h1>
    <p>Únete a nuestra comunidad de centros médicos comprometidos con la calidad del aire en sus instalaciones. Con
        ZhenAir, obtendrás una solución para mejorar la salud de tus pacientes y personal médico. </p>

    <mat-list>
        <mat-list-item><mat-icon matListItemIcon>check</mat-icon> Item 1</mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>check</mat-icon> Item 1</mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>check</mat-icon> Item 1</mat-list-item>
        <mat-list-item><mat-icon matListItemIcon>check</mat-icon> Item 1</mat-list-item>
    </mat-list>
    
</div>


<div mat-dialog-actions>

</div>
<div class="d-flex justify-content-around pb-3">

    <button (click)="closeDialog()" mat-raised-button>Cancelar</button>
    <div #paypal class="pay-pal-btn d-flex justify-content-center"></div>
</div>