.example-card {
    max-width: 15.625rem;
    cursor: pointer;
  }
  
 .sub_tip{
    font-size: 0.7rem;
 }

.tile_img{
    //width: 100%;
    height: 13.02rem;
    min-width: 15.625rem;
    object-fit: cover;
    border-radius: 0.5rem;
}