<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push" [ngStyle]="{width: '250px'} ">

        <mat-toolbar class="">
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>close</mat-icon></button>

        </mat-toolbar>

        <mat-nav-list *ngIf="checkAdmin()">
            <mat-list-item *ngFor=" let item of adminSideBarItems" [routerLink]="item?.url" (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>{{item?.icon}}</mat-icon>
                {{item?.label}}
            </mat-list-item>
        </mat-nav-list>

        <mat-nav-list *ngIf="!checkAdmin()">
            <mat-list-item *ngFor=" let item of userSideBarItems" [routerLink]="item?.url" (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>{{item?.icon}}</mat-icon>
                {{item?.label}}
            </mat-list-item>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar class="ms-2 ">

        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>

        <img src="/assets/logos/ZhenAir.png" width="200px" style="margin-top: 20px;" class="cursor-pointer" (click)="goToMain()">

        <button class="ms-5" mat-button matTooltip="Administrar mi perfil" (click)="manageProfile()" disabled>
            <mat-icon>work</mat-icon> <strong>Workspace:</strong>   San Juan de Dios 
        </button>

        <span class="spacer"></span>

        <button class="me-4" mat-button matTooltip="Administrar mi perfil" (click)="manageProfile()">
            <mat-icon>account_circle</mat-icon>  {{activeUser.name}}
        </button>

        <button class="me-2" mat-button matTooltip="Cerrar Sesión" (click)="onLogout()">
            <mat-icon>logout</mat-icon> Logout
        </button>
    </mat-toolbar>

    <div class="container pt-3">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>