.map-container {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // margin: 30px;
  }

  #map { 
    height: 75vh; 
  }
  
//   .map-frame {
//     border: 2px solid black;
//     height: 100%;
//   }
  
//   #map {
//     height: 100%;
//   }

.green { background-color: green; color: white; }
.yellow { background-color: yellow; color: black; }
.orange { background-color: orange; color: white; }
.red { background-color: red; color: white; }
.purple { background-color: purple; color: white; }
.brown { background-color: brown; color: white; }