
    <mat-toolbar>
      
      <img class="logo" src="assets/logos/ZhenAir_Secondary.png" alt="ZhenAir logo">

      <span class="example-spacer"></span>

      <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Mapa en vivo
      </button>

      <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Precios
      </button>

      <button mat-button class="sky-blue-darker-bg white-text" aria-label="Example icon-button with heart icon">
        Comenzar una prueba
      </button>

    

      <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
        Iniciar Sesión
      </button>

    </mat-toolbar>




<div class="container w-100 align-content-center text-center pt-5">


    <div class="pt-2">

        <h1>Home Page</h1>

    </div>
    <div class="pt-2">
        <div>
            <button (click)="goToLanding()">Ir a Landing Page</button>
        </div>
        <div class="pt-2">
            <button (click)="goToLogin()">Login</button>
        </div>
        <div class="pt-2">
            <button (click)="goToDashBoard()">Muestra - despues de login</button>
        </div>

    </div>

</div>