

<div class="container w-100 align-content-center text-center pt-5">


    <div class="pt-2">

        <h1>Home Page</h1>

    </div>
    <div class="pt-2">
        <div>
            <button (click)="goToLanding()">Ir a Landing Page</button>
        </div>
        <div class="pt-2">
            <button (click)="goToLogin()">Login</button>
        </div>
        <div class="pt-2">
            <button (click)="goToDashBoard()">Muestra - despues de login</button>
        </div>

    </div>

</div>