
.top-decoration{
  clip-path: polygon(0% 0%, 61% 0, 77% 47%, 47% 78%, 0 72%);

  width: 10.75rem;
  height: 10.375rem;
}

.form-container{
  border-radius: 5px;
  width: 80%;
}

.field-full-width {
  width: 60%;
  padding-top: 15px;
}

.btn_login {
  width: 60%;
  padding: 25px;
}

.pay-pal-btn {
  width: 60%;
}

.btn_back {
  text-decoration: none;
  cursor: pointer;
}

.logo {
  width: 7.3125rem;
  height: 3.6rem;
}

@keyframes rotate {
  100% {
    background-position: 15% 50%;
  }
}

.back-ground{
  background-image: url('/assets/backgrounds/cloudy_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  animation: rotate 15s infinite alternate linear;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}


//PLANS
.top-decoration-basic{
  background-color: #05c7f2;
  height: 0.5rem;
}

.top-decoration-pro{
  background-color: #049DD9;
  height: 0.5rem;
}

.top-decoration-enterprice{
  background-color: #042959;
  height: 0.5rem;
}

.title{
  font-weight: 700;
  font-size: 3rem;
}

.subtitle{
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.price-title{
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;

}

.price{
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.price-frecuency{
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.card-sub{
  font-size: 0.8rem;
}