 .login-form {
  //width: 80%;
//    min-width: 400px;
//     max-width: 450px;
//     width: 100%;
   }
  
  .field-full-width {
    width: 80%;
    padding-top: 15px;
  }
  
  .btn_login{
    //min-width: 400px;
    //max-width: 450px;
    width: 80%;
    padding: 25px;
  }
  
  .btn_back{
      text-decoration: none;
      cursor: pointer;
  }
  
  