<h1 class="titulo-2 container text-center pt-3">
    {{ editing ? 'Editar sala' : 'Registrar sala' }}
</h1>
<div class="container white-bg pb-5 d-flex justify-content-center">



    <form class="d-flex flex-column w-75" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="pt-3">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="name" value={{room?.name}}>
            <mat-error *ngIf="error('name','required')">
                Nombre es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="error('name','maxLength')">
                Nombre debe tener <strong>máximo 30 caracteres</strong>
            </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="pt-3">
            <mat-label>Largo (m2)</mat-label>
            <input type="number" matInput formControlName="length">
            <mat-error *ngIf="error('length','required')">
                Largo de sala es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="pt-3">
            <mat-label>Ancho (m2)</mat-label>
            <input type="number" matInput formControlName="width">
            <mat-error *ngIf="error('width','required')">
                Ancho de sala es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="pt-3">
            <mat-label>Alto (m2)</mat-label>
            <input type="number" matInput formControlName="height">
            <mat-error *ngIf="error('height','required')">
                Ancho de sala es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="pt-3">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="status">
                <mat-option *ngFor="let state of status" [value]="state.value">
                    {{state.viewValue}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="error('status','required')">
                Estado de sala es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

      
        <div class="d-flex justify-content-between">

            <button type="button" mat-raised-button color="warn" class="btn_login mt-3" (click)="closeDialog()">
                <mat-icon iconPositionEnd>close</mat-icon>
                CANCELAR

            </button>

            <button mat-raised-button class="btn_login mt-3 sky-blue-darker-bg white-text">
                <mat-icon iconPositionEnd>chevron_right</mat-icon>
                CONFIRMAR

            </button>
        </div>

        <div class="d-flex justify-content-center">
            <div #paypal class="pay-pal-btn d-flex justify-content-center"></div>
        </div>

    </form>
</div>