<div class="area">
<div class="container d-flex fluid vh-100 align-items-center justify-content-center"> <!--Contenedor y background donde van a estar los circulos flotantes, y por encima los rows con las columnas-->

  <div class="row z-index-1"> <!--First row donde se muestra el boton de ir a login a la izquierda y el logo a la derecha-->

    <div class="col d-flex"> <!--Columna a la izquierda para mostrar ir a login-->
      <a (click)="returnToLogin()" class="white-text titulo-3 btn_back z-index-1">
        <i class="fa-solid fa-arrow-left">
        </i>
        Regresar a Iniciar Sesión
      </a>
    </div>

    <div class="col d-flex"> <!--Columna a la derecha para mostrar logo-->
        <img class="img-fluid logo" src="/assets/logos/ZhenAir_white.png" />
    </div>

  <div class="row"> <!--Second row donde se muestra el form centrado en pantalla-->
    <div class="col form-container pb-4 z-index-1 text-center white-bg" [class.mat-elevation-z8]="true"> <!--FORM START COLUMN-->
      <div class="row"> <!-- Form's first row muestra el titulo-->
      <h3 class="titulo-1">Recuperar Contraseña</h3> <!-- FORM TITLE -->
      <div class="row"> <!-- Form's second row muestra el campo de email-->

          <form [formGroup]="recoveryForm" (ngSubmit)="sendRecoveryCode()">
            <div class="form">

              <mat-form-field appearance="outline" class="field-full-width pt-4">

                <mat-label>Correo electrónico</mat-label>
                <input type="email" matInput formControlName="email" placeholder="jon@email.com">
                <mat-error *ngIf="error('email','required')">
                  Correo electrónico es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="error('email','email')">
                  Correo electrónico <strong>inválido</strong>
                </mat-error>

              </mat-form-field>
            </div>
            <button mat-raised-button class="sky-blue-darker-bg white-text mt-3 z-index-1">
              <mat-icon iconPositionEnd>chevron_right</mat-icon>
              ENVIAR
            </button>

          </form>
        </div>
  </div>
</div>

<ul class="circles z-index-0"> <!--Circulos del background-->
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

</div>
</div>



