.container {
    background-color: rgb(255, 255, 255);
    height: 100vh; /* Ajustar la altura para ocupar toda la pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-container {
    height: 325px;
    width: 625px; /* Ancho deseado del formulario */
    padding-top: 7%; /* Añadir un espaciado interno */
    text-align: center; /* Centrar el contenido del formulario */
    border: 1px solid #ccc; /* Agregar un borde opcional */
  }
  
  .form-group {
    margin-top: 15px;;
    margin-bottom: 1rem;
  }
  
  .btn {
    margin-top: 7.5px; /* Ajustar el margen superior del botón */
  }
  
  .form-control {
    text-align: center;
  }
  
  