.container {
    background-color: rgb(255, 255, 255);
    height: 100vh; /* Ajustar la altura para ocupar toda la pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-container {
    //height: 325px;
    width: 39.0625rem; /* Ancho deseado del formulario */
    padding-top: 2rem; /* Añadir un espaciado interno */
    text-align: center; /* Centrar el contenido del formulario */
    border: 1px solid #ccc; /* Agregar un borde opcional */
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .btn {
    margin-top: 7.5px; /* Ajustar el margen superior del botón */
  }
  
  .form-control {
    text-align: center;
  }

  .field-full-width {
    width: 60%;
    padding-top: 15px;
  }


  
  