<div class="container-fluid">
    <div class="row d-flex justify-content-evenly">
        <div class="col-sm-12 col-md-4" *ngFor="let reading of x">
            <div echarts [options]="reading"></div>
        </div>

        <!-- <div class="col-sm-12 col-md-4">
            <div echarts [options]="option"></div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div echarts [options]="option"></div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div echarts [options]="option"></div>
        </div> -->
        <div class="col-sm-12 col-md-4">
            <div echarts [options]="temperature"></div>
        </div>

    
    </div>
    <div class="row d-flex justify-content-evenly">
       

       

      

    
    </div>
</div>

