<h1 class="titulo-2 container text-center pt-3">
    {{ editing ? 'Editar centro medico' : 'Registrar centro medico' }}
</h1>
<div class="container white-bg pb-5 d-flex justify-content-center">



    <form class="d-flex flex-column w-75" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="pt-3">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="name" value={{medicalCenter?.name}}>
            <mat-error (*ngIf)="error('name','required')">
                Nombre es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="error('name','maxLength')">
                Nombre debe tener <strong>máximo 40 caracteres</strong>
            </mat-error>
        </mat-form-field>

      <mat-form-field appearance="outline" class="pt-3">
        <mat-label>Direccion</mat-label>
        <input type="text" matInput formControlName="direction" value={{medicalCenter?.direction}}>
        <mat-error *ngIf="error('direction','required')">
          La dirección es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="pt-3">
        <mat-label>Latitud (Formato decimal)</mat-label>
        <input type="number" matInput formControlName="latitude" value={{medicalCenter?.latitude}}>
        <mat-error *ngIf="error('latitude','required')">
          La latitud es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="pt-3">
        <mat-label>Longitud (Formato decimal)</mat-label>
        <input type="number" matInput formControlName="longitude" value={{medicalCenter?.longitude}}>
        <mat-error *ngIf="error('longitude','required')">
          La Longitud es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>

        <mat-form-field appearance="outline" class="pt-3">

            <mat-label>Correo electrónico</mat-label>
            <input type="email" matInput formControlName="email" placeholder="enterprise@email.com">
            <mat-error *ngIf="error('email','required')">
                Correo electrónico es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="error('email','email')">
                Correo electrónico <strong>inválido</strong>
            </mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline" class="pt-3">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="status">
                <mat-option *ngFor="let state of status" [value]="state.value">
                    {{state.viewValue}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="error('status','required')">
                Estado de centro médico es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

        <div class="d-flex justify-content-between">

            <button type="button" mat-raised-button color="warn" class="btn_login mt-3" (click)="closeDialog()">
                <mat-icon iconPositionEnd>close</mat-icon>
                CANCELAR
            </button>

            <button mat-raised-button class="btn_login mt-3 sky-blue-darker-bg white-text">
                <mat-icon iconPositionEnd>chevron_right</mat-icon>
                CONFIRMAR
            </button>
        </div>
    </form>
</div>
